[Desktop Entry]
Type=Application
Name=Ghidra
Comment=A software reverse engineering (SRE) framework
Exec="{{ install_dest_full }}/ghidraRun" %f
Icon={{ icon_file_full }}
Categories=Development;Engineering
Terminal=false
StartupNotify=true
